.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.box {
  width: 100px;
  height: 100px;
  background-color: hotpink;
}

.navContainer {
  position: relative;
  padding: 50px;
}
.boxesContainer {
  position: relative;
}
